.supersonic-navbar {
  background-color: black !important;
  text-align: center;
  font-weight: 600;
}

.red-tour {
	background-color: #8B0000;
	color: white;
}

.red-text {
	background-color: red;
	color: white;
}

.blue-tour {
	background-color: #000080;
	color: white;
}

.blue-text {
	background-color: blue;
	color: white;
}

.purple-tour {
	background-color: #4D004D;
	color: white;
}

.purple-text {
	background-color: #993399;
	color: white;
}

.black-tour {
	background-color: black;
	color: white;
}

.black-text {
	background-color: #333333;
	color: white;
}