<div class="padding" ng-controller="ToursListController">

  <super-navbar>
    <super-navbar-title ng-bind="app.welcome">
    </super-navbar-title>
  </super-navbar>

  <super-navigate view-id="tour#splash?id=0">
    <div class="card">
      <div class="item item-divider redtour">
        Red Tour
      </div>
      <div class="item item-text-wrap redtext">
        The red tour is an ordered tour through the museum!
      </div>
    </div>
  </super-navigate>
  <div class="card">
    <div class="item item-divider bluetour">
      Blue Tour
    </div>
    <div class="item item-text-wrap bluetext">
      The blue tour is an random tour through the museum!
    </div>
  </div>
  <div class="card">
    <div class="item item-divider purpletour">
      Purple Tour
    </div>
    <div class="item item-text-wrap purpletext">
      The purple tour is a scavenger hunt setup in the museum!
    </div>
  </div>
  <div class="card">
    <div class="item item-divider blacktour">
      Black Tour
    </div>
    <div class="item item-text-wrap blacktext">
      The black tour is a tour that takes you to objects often overlooked in the museum!
    </div>
  </div>

</div>
