<div align="center">
        <div class="padding"></div>
        <!-- <img src="/images/facebookIcon.jpg" alt="height="30" width="80" "> -->
        <div class="padding">
            <h3>{{message}}</3>
        </div>

        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="user.username">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Password" ng-model="user.password">
            </label>
            <div class="padding">
                <button class="button button-block button-positive" ng-click="">{{message}}</button>
            </div>
        </div>
</div>

<div align="center" >
    
    <div class="padding"> </div>
    <div class="padding"> </div>
    <button ng-click="switch()" class="button button-small button-outline">{{alt}}</button>
    <div class="padding">    </div>
    <b>or</b>
    <div class="padding">    </div>
    <img src="/images/facebook.png" width="115">
</div>
</div>

