<div ng-controller="splashController" ng-app"splash">

    <super-navbar>
        <super-navbar-title>Login</super-navbar-title>
    </super-navbar>



    <div class="showF" ng-hide="forc">
        <div align="center">
            <div class="padding">
                <h1>        </h1>
                <h1>        </h1>
            </div>
            <!-- <img src="/images/facebookIcon.jpg" alt="height="30" width="80" "> -->
            <div class="padding">
                <h1>        </h1>
                <h2>        </h2>
                <h3>        </h3>
                <h4>        </h4>
                <h5>        </h5>
                <h1>        </h1>
                <h2>        </h2>
                <h3>        </h3>
                <h4>        </h4>
                <h5>        </h5>
                <h3>Link yourself by facebook</3>
            </div>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Username">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Password">
            </label>
        </div>
        <td>


        </td>
        <div align="center" >
            <button class="button button-large button-outline button-positive" >
                Link     
            </button>
        </div>
    </div>



    <div class="showC" ng-show="forc">
        <div align="center">
            <div class="padding">
                <h1>        </h1>
                <h1>        </h1>
            </div>
            <!-- <img src="/images/facebookIcon.jpg"> -->
            <div class="padding">
                <h1>        </h1>
                <h2>        </h2>
                <h3>        </h3>
                <h4>        </h4>
                <h5>        </h5>
                <h1>        </h1>
                <h2>        </h2>
                <h3>        </h3>
                <h4>        </h4>
                <h5>        </h5>
                <h3>Create your account</3>
            </div>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Username">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Password">
            </label>
        </div>
        <td>


        </td>
<!--         <div align="center" >
            <button class="button button-large button-outline button-positive" >
                Start     
            </button>
        </div> -->
    </div>
    <div class="padding">
        <h1>        </h1>
        <h1>        </h1>
        <h1>        </h1>
        <h1>        </h1>
        <h1>        </h1>
        <h1>        </h1>
    </div>
    <div align="center">
<!--         <button class="button button-small button-outline " ng-click="choice(0)">Sign in by Facebook</button> -->
    <img src="/images/facebook.png">
        <button class="button button-small button-outline">Create new account</button>
    </div>


</div>